<h2>Discover Movies</h2>

<%# Top Rated Movies %>
<div id="top-rated-movies">
  <%= form_with url: user_movies_path(@user), method: :get, local: true do |form| %>
    <%= form.hidden_field :q, value: "top_rated" %>
    <%= form.submit "Find Top Rated Movies", name: nil %>
  <% end %>
</div>

<%# Find Movies by Name %>
<div id="keyword-search">
  <%= form_with url: user_movies_path(@user), method: :get, local: true do |f| %>
    <%= f.search_field :q, placeholder: "Search"%>
    <%= f.submit "Find Movies", name: nil %>
  <% end %>
</div>